* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-image: url(Images/bg.jpg);
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}